<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py --inorder $(find baxter_description)/urdf/baxter.urdf.xacro gazebo:=false"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />

  <node name="robot_kinematic_simulation" type="kinematic_simulation_node" pkg="robot_kinematic_simulation" output="screen">
    <rosparam command="load" file="$(find kdl_manager_tutorial)/config/simulation.yaml"/>
  </node>
  <node pkg="kdl_manager_tutorial" type="simple_control" name="simple_control" output="screen"/>
</launch>
